* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align:center;
    font-size:32px;
}

h2 {
    text-align:center;

}

html {
    background-color: black;
}

.welcome-page,
.user-input,
.game-page,
.game-page2,
.game-page3,
.game-page4,
.game-page5,
.end-page,
.level-page,
.highscore-page,
.end-page {
    transition: all 0.3s ease;
}

.welcome-page.deactiveWelcome,
.user-input,
.game-page,
.game-page2,
.game-page3,
.game-page4,
.game-page5, 
.level-page,
.highscore-page,
.end-page{
    opacity: 0;
    width: 100%;
} 

.user-input.activeInput {
    z-index: 5;
    opacity: 1;
    width: 100%;
    transform: translateY(-400px);
}

.game-page.activeGame {
    z-index: 5;
    opacity: 1;
    width: 100%;
    transform: translateY(-845px);
}

.game-page2.activeGame2 {
    z-index: 5;
    opacity: 1;
    width: 100%;
    transform: translateY(-1430px);
}

.game-page3.activeGame3 {
    z-index: 5;
    opacity: 1;
    width: 100%;
    transform: translateY(-2075px);
}
.game-page4.activeGame4 {
    z-index: 5;
    opacity: 1;
    width: 100%;
    transform: translateY(-2700px);
}

.game-page5.activeGame5 {
    z-index: 5;
    opacity: 1;
    width: 100%;
    transform: translateY(-3340px);
}

.level-page.activeLevel {
    z-index: 5;
    opacity: 1;
    width: 100%;
    transform: translateY(-3980px);
}

.end-page.activeEndpage {
    z-index: 5;
    opacity: 1;
    width: 100%;
    transform: translateY(-5250px);
}

.timer {
    color:white;
}
.level {
    margin-top:20px;
}

#level1 {
    background-color:yellow;
}

#level2 {
    background-color: orange;
}

#level3 {
    background-color: green;
}

#level4 {
    background-color: blue;
}

#level5 {
    background-color: red;
}

#medal {
    background-color:silver;
}

/* Mobile devices (390px and up)
@media only sreen and (min-width: 390px) {

.user-input.activeInput {
    transform: translateY(-467px);
}

.game-page.activeGame {
    transform: translateY(-934px);
}

.game-page2.activeGame2 {
    transform: translateY(-1706px);
}

.game-page3.activeGame3 {
    transform: translateY(-2572px);
}

.game-page4.activeGame4 {
    transform: translateY(-3441px);
}

.game-page5.activeGame5 {
    transform: translateY(-4308px);
}

.level-page.activeLevel {
    transform: translateY(-5198px);
}

.end-page.activeEndpage {
    transform: translateY(-6615px);
}
    
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .welcome-page {
        transform: translateY(-20%);
    }

    .user-input.activeInput {
        transform: translateY(-120%);
    }
    
    .game-page.activeGame {
        transform: translateY(-184%);
    }

    .game-page2.activeGame2 {
        transform: translateY(-3034px);
    }
    
    .game-page3.activeGame3 {
        transform: translateY(-4149px);
    }
    .game-page4.activeGame4 {
        transform: translateY(-5261px);
    }
    
    .game-page5.activeGame5 {
        transform: translateY(-6377px);
    }

    .level-page.activeLevel {
        transform: translateY(-7556px);
    }

    .end-page.activeEndpage {
        transform: translateY(-9811px);
    }
    

}
